
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>I'm in the AppComponent</h2>
            <hr>
            <!-- Use selector created in server.components -->
            <p>This is the server component, displaying the server.component.html page through the app-server selector</p>
            <!-- <app-server></app-server> -->
            <!-- <div app-servers></div> -->
            <div class="app-servers"></div>
            <hr>
            <p>This is the servers component, displaying the servers.component.html page through the app-servers selector. This uses the app-server selector twice.</p>
            <app-servers></app-servers>
        </div>
    </div>
</div>

